#root {
	margin: 0;
	padding: 0;
	width: calc(100vw - var(--container-paddding) * 2);
	height: calc(100vh);
	font-size: 0;
}

.overlay {
	position: absolute;
	font-family: Helvetica, Arial, sans-serif;
}

.overlay-stats {
	left: 10px;
	bottom: 20px;
	font-size: 12px;
	color: rgb(255, 255, 255);
	text-transform: lowercase;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 6px;
}

.overlay-stats [data-id] {
	text-align: right;
}